@model BananaLtda.Models.booking

<h3>Tem certeza que deseja cancelar essa reserva?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.responsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coffee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coffee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.branch.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branch.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
