@model BananaLtda.Models.booking

@*@section scripts{
        <script src="~/Views/Calendar/_CreateEvent.js"></script>
    }*@

<button type="button" class="close" data-bind="toggle: isVisible" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<div class="modal-header">
    <h4 class="modal-title">Reserve uma sala</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.branch_fk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="branch_fk" class="form-control" data-bind="options: $root.branches, optionsValue:'id', optionsText: 'name', value: $root.selectedBranch, optionsCaption: 'Choose a Branch'"></select>
                @Html.ValidationMessageFor(model => model.branch_fk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.room_fk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="room_fk" class="form-control" data-bind="disable: !$root.hasSelectedBranch(), options: $root.availableRooms, optionsValue:'id', optionsText: 'name', value: $root.selectedRoom, optionsCaption: 'Choose a Room'"></select>
                @Html.ValidationMessageFor(model => model.room_fk, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.startDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.endDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.responsable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.responsable, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.responsable, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Precisa de café?</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <label><input type="checkbox" value="" data-bind="checked: $root.hasCoffee">Sim</label>
                </div>
            </div>
        </div>

        <div class="form-group" data-bind="visible: $root.hasCoffee">
            <label class="control-label col-md-2">Para quantas pessoas?</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.coffee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.coffee, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <input type="hidden" name="branch_fk" data-bind="value: $root.selectedBranch" />
    <input type="hidden" name="room_fk" data-bind="value: $root.selectedRoom" />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-bind="toggle: $root.isVisible">Fechar</button>
    <button type="submit" class="btn btn-primary" data-bind="click: $root.onSaveClicked">Salvar</button>
</div>
<script type="text/javascript">
    var ViewBagBranches = @Html.Raw(Json.Encode(@ViewBag.branches));
    var ViewBagRooms = @Html.Raw(Json.Encode(@ViewBag.rooms));
    var ModelSelectedBranch = @(@Model == null ? 0 : @Model.branch_fk);
    var ModelSelectedRoom = @(@Model == null ? 0 : @Model.room_fk);
    var ModelNeedCoffee = '@(@Model == null ? false : ((@Model.coffee == null || @Model.coffee == 0) ? false : true))';
    ModelNeedCoffee = ModelNeedCoffee === 'True';
    var ModelIsRoomFree = '@ViewBag.IsRoomFree';

    if (ModelIsRoomFree === 'False')
        toastr.warning("Esta sala já está reservada neste horário!");

    $(document).ready(function () {
        $('.datetimepicker').datetimepicker(); //Initialise any date pickers
    });
</script>
